@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* ### PAGE LAYOUT STYLES ### */
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif, serif;
    background-image: linear-gradient(#809AC7, #E8C4C0); 
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    margin: 6px 4px;
}

h2, h3, h4, h5, h6 {
    font-weight: 100;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 6px;
}

.btn {
    padding: 2px 4px;
    border: solid .5px black;
    border-radius: 4px;
    font-size: 8pt;
    color: #000;
    background-color: #FFF;
    cursor: pointer;
}

input {
    border: solid .5px black;
    border-radius: 2px;
    padding: 2px 4px;
}

ul {
    margin: 2px 8px;
    padding: 0;
}

li {
    list-style-type: none;
}

/*  ### THIS PAGE ONLY STYLES ### */
.navLink {
    display: inline;
    margin: 12px 4px 0 4px;
}

.navLi {
    float: left;
}

.navLiRight {
    float: right;
    padding: 16px 8px;
}

.navLi:not(:first-child) {
    padding: 16px 8px;
}

#mainNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: solid .5px #000;
    width: 100%;
}

.weatherBox {
    border: solid .5px black;
    border-radius: 6px;
    background-color: #FFF;
    padding: 4px;
    margin: 36px 10px;
    width: 30vw;
    display: inline-block;
    font-weight: 100;
    position: relative;
}

.weatherLi {
    font-size: 12px;
}

.weatherConditionsLbl {
    display: inline;  
    position: absolute;
    right: -16px;
    top: -5px;
    text-align: right;
    font-size: 14px;      
    background-color: white;
    border-radius: 4px;
    padding: 6px;
}